
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">Messages</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Messages">
                <tr>
                    <td><span data-bind="text: Type, css: { 'label': true, 'label-danger': Type == 'Error', 'label-warning': Type == 'Warning', 'label-info': Type == 'Info'}"></span></td>
                    <td data-bind="text: Date"></td>
                    <td data-bind="text: Title"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        
<div class="panel panel-info">
    <div class="panel-heading">Error in the last hour</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Title</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: ErrorSummary">
                <tr>
                    <td data-bind="text: Date"></td>
                    <td data-bind="text: Hour"></td>
                    <td data-bind="text: Title"></td>
                    <td data-bind="text: Count"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var model = {
            Messages: ko.observableArray(),
            ErrorSummary: ko.observableArray()
        }

        var logHub = $.connection.logHub;
        logHub.client.hourlyErrorUpdate = function (errors) {
            model.ErrorSummary(errors);
        };

        logHub.client.messageUpdate = function (messages) {
            messages.forEach(function (item) {
                console.log(item);
                model.Messages.unshift(item);
            });
        };

        logHub.client.notify = function () {
            console.log("Running Notify...");
        };

        $.connection.hub.start()
            .done(function () { console.log('Now connected, connection ID=' + $.connection.hub.id); })
            .fail(function () { console.log('Could not Connect!'); });


        ko.applyBindings(model);
    </script>
}
        
